body {
    background-image: url("/assets/images/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 1500%;
    background-position-x: center;
    background-size: 80% 99%;
    background-color: black;
}    

#row2 {
    margin-bottom: 5%;
}

#pageHeader {
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
    margin-top: 2%;
    text-align: center;
    font-size: 400%;
}

#new-burger-form {
    width: 100%;
}

#text-enter-button:hover, #devourBtn:hover {
    color: rgb(81, 255, 0);
}

#text-enter-button, #devourBtn {
    color: white;
    border: 2px solid white;
}

#burger-column {
     margin-right: 10%;
     text-align: left;
}

#burger-list-header {
    text-align: center;
    margin-bottom: 8%;
}

#burger-list-form {
    margin-bottom: 5%;
}

#burgerName {
    color: white;
    margin-bottom: 3%;
    font-size: 120%;    
}

#devourBtn {
    margin-right: 5%;
}

#devoured-header {
    text-align: center;
    margin-bottom: 8%;
}

#form-label {
    color:white;
}

#read-only-boxes {
    color: white;
    margin-bottom: 5%;
    font-size: 120%;
    text-align: left;
    margin-left: 27%;
}